*{
	margin: 0;
	padding: 0;
}

article aside details form
figcaption figure footer header hgroup
 menu nav section fieldset {
	display: block;
}

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v16-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v16-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato-v16-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v16-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v16-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v16-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

html{
	box-sizing: border-box;
}

*::before, *, *::after{
	box-sizing: inherit;
}

body{
	margin: 0;
	font-family: 'Lato';
	font-style: normal;
	font-size: 16px;
	line-height: 1.2;
	font-weight: normal;
	color: #102746;
}

img {
	max-width: 100%;
	height: auto;
}

.wrapper{
	max-width: 1060px;
	margin: auto;
	padding: 0 15px;
}

.wrapper-xl{
	max-width: 1264px;
	margin: auto;
	padding: 0 12px;
}


/*header start*/

.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 10;
	transition: .3s all;
}

.header-wrapper{
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end; 
	justify-content: space-between;
	padding-top: 56px;
}

.header-list{
	display: flex;
	flex-wrap: wrap;
}

.header-item{
	list-style: none;
	margin-right: 82px;
}

.header-item:last-child{
	margin-right: 0;
}

.header-link{
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}

.header-link:hover, .header-link:focus, .header-link:active{
	opacity: 0.65;
}

.header-active{
	background-color: #0E1D28;
	padding-bottom: 20px;
}

.header-burger{
	width: 40px;
	height: 28px;
	position: relative;
	display: none;
}

.burger-line{
	display: block;
	width: 100%;
	height: 2px;
	background-color: #fff;
	position: absolute;
	left: 0;
}

.burger-line-1{
	top: 0;
}

.burger-line-3{
	bottom: 0;
}

.burger-line-2{
	top: 50%;
}


/*first start*/

.firstBlock{
	min-height: 100vh;
	background: url(../img/bg/intro-bg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 263px;
	padding-bottom: 376px;
	border: none;
}

.firstBlock-title{
	max-width: 619px;
	font-weight: 500;
	font-size: 50px;
	line-height: 60px;
	color: #FFFFFF;
	margin-bottom: 22px;
}

.firstBlock-desc{
	max-width: 546px;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #FFFFFF;
	margin-bottom: 61px;
}

fieldset{
	border: 0;
}

.search-form-info{
	display: flex;
	flex-wrap: wrap;
}

.search-form-field {
	width: 297px;
	background: transparent url(../img/pic/Oval.svg) no-repeat left 4px;
	background-size: 20px;
	border: 0;
	border-bottom: 2px solid #BFC0C5;
	font-family: 'Lato';
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	padding-bottom: 22px;
	padding-left: 45px;
	margin-right: 61px;
	height: 49px;
}


.search-form-field::placeholder{
	opacity: 1;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
}

.search-form-but {
	padding: 15px 39px;
	background-color: #1B7DFF;
	font-family: 'Lato';
	color: #fff;
	border: 0;
	font-weight: 500;
	font-size: 24px;
}

.search-form-but:hover, .search-form-but:focus,
.search-form-but:active{
	background-color: #0247a1;
	transition: all .3s;
}




/*benefits start*/
.benefits{
	margin-bottom: 131px;
}

.benefits-wrap{
	max-width: 1262px;
	background-color: #fff;
	margin: 0 auto;
	box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
	position: relative;

}

.benefits-title{
	width: 100%;
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	padding: 93px 100px 88px 100px;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(-100%);
	background-color: #fff;
}

.benefits-cards{
	display: flex;
	flex-wrap: wrap;
	padding: 0 100px;
	justify-content: space-between;
}

.benefits-card{
	flex: 1;
	margin-right: 55px;
	margin-bottom: 112px;
	position: relative;
	min-width: 0;
/

}

.benefits-card:last-child{
	margin-right: 0;
}

.benefits-card-img{
	height: 66px;
	width: 66px;
	margin-bottom: 37px;
}

.benefits-card-title{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #000;
	margin-bottom: 26px;
}

.benefits-card-desc{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #000;
	margin-bottom: 39px;
}

.benefits-card-more{
	display: inline-block;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	text-decoration: none;
	padding-right: 62px;
	background: url(../img/pic/arrow.svg) no-repeat 95% center;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: .3s all;
	}


.benefits-card-more:hover, .benefits-card-more:focus{
	background: url(../img/pic/arrow.svg) no-repeat right center ;
}


/*places start*/


.section-title{
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
	position: relative;
}

.section-title:after{
	content: '';
	background: #006DFE;  
    position: absolute;  
    left: 0; 
    bottom: -7px; 
    width: 253px; 
    height: 2px;
}

.places{
	margin-bottom: 131px;
}

.places-head{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 36px;
}

.places-title{
	font-weight: 500;
	font-size: 35px;
	line-height: 42px;
}

.places-more{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	text-decoration: none;
	padding-right: 65px;
	background: url(../img/pic/arrow.svg) no-repeat 94px center;
	transition: .3s all;
}

.places-more:hover, .places-more:focus{
	background: url(../img/pic/arrow.svg) no-repeat 103px center;
}

.places-cards{
	display: grid;
	grid-template-columns: repeat(6, 1fr); 
	grid-gap: 10px;
	margin-bottom: 10px;
}

.places-card-big{
	max-width: 627px;
	height: 354px;
	grid-column: span 3;
	position: relative;
	margin-right: 10px;
	overflow: hidden;
}

.places-card-big::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(21, 24, 36, 0.35);  
	z-index: 1;
}

.places-card img{
	transition: .3s all;
}

.places-card:hover img, .places-card:focus img {
	transform: scale(1.05);
}

.places-card-pic{
	height: 354px;
	object-fit: cover;
	width: 100%;
}

.places-card-desc{
	position: absolute;
	left: 29px;
	bottom: 27px;
	font-weight: bold;
	font-size: 50px;
	line-height: 60px;
	color: #fff;
	z-index: 2;
}

.places-card-sm{
	max-width: 415px;
	height: 283px;
	grid-column: span 2;
	position: relative;
	margin-right: 10px;
	overflow: hidden;
}

.places-card-sm::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(21, 24, 36, 0.35);  
	z-index: 1;
}

.places-card-small:last-child{
	margin-right: 0;
}

.places-card-link{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 3;
}


/*tours start flex*/



/*.tour{
	margin-bottom: 139px;
	display: flex;
	flex-direction: column;
}

.tour-tour{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.tour-tour:first-child{
	margin-bottom: 77px;
}

.tour-tour:last-child h3{
	max-width: 357px;
}

.tour-desc{
	max-width: 565px;
	padding-left: 47px;
	min-width: 0;
	flex: 50%;
	
}

.tour-title{
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 45px;
	margin-top: 26px;
}

.tour-text{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 58px;
	padding-right: 46px;

}

.tour-pic{
	flex: 1;
}

.tour-thumb{
	flex: 1;
	max-width: 597px;
}

.tours-more{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	text-decoration: none;
	padding-right: 62px;
	background: url(img/pic/arrow.svg) no-repeat 95% center ;
	transition: .3s all;
}

.tours-more:hover, .tours-more:focus{
	background: url(img/pic/arrow.svg) no-repeat right center ;
}
*/

/*tours start grid*/


.tours{
	margin-bottom: 139px;
}


.tour-tour{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 77px;
	align-items: center;
	margin-bottom: 77px;
}

.tour-desc{
	margin-left: 47px;
}

.tour-title{
	font-weight: 500;
	font-size: 30px;
	line-height: 40px;
	margin-bottom: 85px;
	margin-top: 26px;
}

.tour-text{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 58px;
	padding-right: 46px;

}

.tours-more{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #006DFE;
	text-decoration: none;
	padding-right: 62px;
	background: url(../img/pic/arrow.svg) no-repeat 95% center ;
	transition: .3s all;
}

.tours-more:hover, .tours-more:focus{
	background: url(../img/pic/arrow.svg) no-repeat right center ;
}



/*top start*/


.top{
	margin-bottom: 144px;
}

.top-title{
	margin-bottom: 64px;
}

.top-cards{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 57px;
}

.top-card{
	grid-column: span 2;
	display: flex;
	flex-direction: column;
}

.top-card-pic{
	position: relative;
	margin-bottom: 45px;
	height: 377px;
}

.top-card-thumb{
	object-fit: cover;
	height: 377px;
	width: 100%;
}

.top-card-desc{
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 15px 25px;
	width: 100%;
	background-color:  rgba(21, 24, 36, 0.5);
}

.top-card-title{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #fff;
}


.top-card-like, .top-card-comment{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	padding-right: 20px;
	text-align: center;
}

.top-card-like{
	background: url(../img/pic/like.svg) no-repeat right center;
}

.top-card-comment{
	background: url(../img/pic/comment.svg) no-repeat right center;
	margin-left: 14px;
}


.top-card-text{
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	margin-bottom: 31px;
}

.top-card-more{
	font-size: 16px;
	line-height: 19px;
	text-decoration: none;
	color: #fff;
	padding: 12px 19px;
	background-color: #006DFE;
	width: 118px;
	margin: auto 0 0 0;
	transition: .3s all;
}

.top-card-more:hover, .top-card-more:focus{
	background-color: #0247a1;
}

/*video start*/

.video-wrap {
  position: relative;
  padding-bottom: 56.25%; 
  height: 0;
  overflow: hidden;
}

iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-width: 0;
	outline-width: 0;
}


/*footer start*/

footer{
	background: #0E1D28;
}


.footer-wrapper{
	padding: 119px 0 119px 0;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.footer-logo{
	margin: 0 auto 0 0;
}

.footer-nav{
	font-weight: 500;
	font-size: 18px;
	line-height: 24px;
	color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	width: 50%;
}



.footer-menu:first-child{
	margin-left: 0;
}

.footer-menu-item{
	list-style-type: none;
	margin-bottom: 3px;
}

.footer-menu-item:last-child{
	margin-bottom: 0;
}


.footer-menu-link{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 16px;
	transition: .3s all;
}

.footer-menu-link:hover, .footer-menu-link:focus{
	color: #747678;
}

	.footer-menu-check{
		display: none;
	}




/* media start*/

@media screen and (max-width: 990px){

	.top-cards{
		grid-gap: 40px;
	}

	.benefits-wrap{
		box-shadow: none;
	}

	.benefits-card{
		margin-bottom: 0;
	}
}

@media screen and (max-width: 920px){

	.search-form-field {
	margin-bottom: 40px;
	margin-right: 65px;
	}

	.search-form-but{
		margin: 0 auto;
	}

	.benefits-cards {
    padding: 0 50px;
	}

	.tour-title{
		margin-bottom: 30px;
	}

	.tour-text{
		margin-bottom: 30px;
	}

	.tour-tour{
		grid-gap: 35px;
	}

	.top-card{
		grid-column: span 3;
	}
}

@media screen and (max-width: 767px){

	.header-burger{
		display: block;
	}

	.header-menu{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #0E1D28;
		z-index: 10;
		padding: 75px;
		transform: translateX(100%);
		transition: .3s all;
	}

	.header-item{
		width: 100%;
		margin-right: 0;
		margin-bottom: 30px;
	}

	.header-item:last-child{
		margin-bottom: 0;
	}

	.header-link{
		font-size: 42px;
		line-height: 48px;
	}


	.header-nav-close{
		width: 40px;
		height: 40px;
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 11;
	}

	.header-close-line{
		display: block;
		width: 40px;
		height: 2px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		transform: rotate(45deg);
	}

	.header-close-line:last-child{
		transform: rotate(-45deg);
	}

	.firstBlock{
		padding-bottom: 300px;
	}

	.search-form-but{
		margin: 0 auto;
	}

	.search-form-field {
		width: 100%;
		margin-bottom: 50px;
		margin-right: 0;
	}

	.benefits-cards {
    padding: 0 25px;
	}

	.places{
		margin-bottom: 85px;
	}

	.places-card-big{
		grid-column: span 6;
		height: 283px;
		max-width: 100%;
		margin-right: 0;
	}

	.places-card-sm{
		grid-column: span 6;
		height: 283px;
		max-width: 100%;
		margin-right: 0;
	}

	.places-card-desc{
		font-size: 45px;
	}

	.tours{
		margin-bottom: 85px;
	}

	.tour-title{
	    font-size: 28px;
	    line-height: 35px;
	    margin-bottom: 35px;
	    margin-top: 0;
	}

	.top{
		margin-bottom: 85px;
	}

	.footer-wrapper{
		padding: 65px 0;
	}

	.footer-nav{
		width: 55%;
	}
}

@media screen and (max-width: 660px){

	.firstBlock-title{
		font-size: 45px;
	}

	.firstBlock{
	padding-bottom: 250px;
	}

	.benefits{
		margin-bottom: 85px;
	}

	.benefits-title{
		padding: 65px 100px;
	}

	.benefits-cards{
		flex-direction: column;
		padding: 0 100px;
	}

	.benefits-card{
		margin-right: 0;
		margin-bottom: 85px;		
	}

	.tour-desc{
		margin-left: 20px;
	}

	.tour-text{
		padding-right: 25px;
	}
	.top-title{
		margin-bottom: 45px;
	}
}

@media screen and (max-width: 640px){

	.benefits-cards{
		padding: 0 60px;
	}

	.places-title{
		flex: 1 100%;
		margin-bottom: 30px;
	}
	.places-more{
		margin: 0 0 0 auto;
	}

	.tour-pic{
		grid-column: span 2;
	}

	.tour-desc{
		grid-column: span 2;
	}

	.tour-desc-sec{
		order: 2;
	}

	.top-cards{
		grid-gap: 55px;
	}
	.top-card{
		grid-column: span 6;
	}

	.top-card-pic{
		margin-bottom: 25px;
	}

	.top-card-more{
		font-size: 18px;
		padding: 20px;
		width: 200px;
		text-align: center;
		align-self: center;
	}

	.footer-logo{
		flex: 1 100%;
		flex-wrap: wrap;
		margin: 0;
	}

	.footer-nav{
		width: 0;
		flex: 1 100%;
	}

	.footer-logo{
		margin-bottom: 35px;
	}
}

@media screen and (max-width: 500px){

	.firstBlock{
		padding-top: 180px;
	}

	.firstBlock-title{
		font-size: 40px;
	}

	.search-form-but{
		width: 100%;
	}

	.benefits{
		margin-bottom: 10px;
	}
	.benefits-title{
		padding: 50px 30px;
		font-size: 30px;
	}

	.benefits-cards{
		padding: 0 30px;
	}

	.section-title{
		font-size: 30px;
	}

	.top-card-more{
		font-size: 18px;
		padding-top: 20px;
		padding-bottom: 20px;
		text-align: center;
		width: 100%;
	}

	.footer-wrapper{
		padding: 45px 0;
	}

	.footer-logo{
		margin-bottom: 20px;
	}

	.footer-logo-pic{
		transform: scale(.7);
	}

	.footer-nav{
		display: block;
	}

	.footer-menu{
		border: 1px solid #1b3b52;
		border-bottom: 0;
		/*padding: 10px;*/

	}

	.footer-menu:hover, .footer-menu:active{
		color: #747678;
	}

	.footer-menu:last-child{
		border: 1px solid #1b3b52;
	}
	
	.footer-menu-link{
		width: 100%;
		display: block;
	}
	
	.footer-menu-list{
		display: none;
	}  

	.footer-menu-item{
		position: relative;
		padding: 10px;
	}

	.footer-menu-check:checked ~ ul{
		display: block;
		position: relative;
		max-height: 5000px;
		transition: max-height 5s ease-in;
	}

	.footer-menu-lab{
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		cursor: pointer;

	}
	.footer-menu-list > li{
		border: 1px solid #1b3b52;
		background-color: #2f4657;
		margin: 0 -10px 0 -10px;
	}


}
